@import "tailwindcss";

h1,
p,
span,
textarea {
  font-family: var(--font-josefin-sans), sans-serif;
}

h1 {
  letter-spacing: 20px;
}

:root {
  --gradient-color: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --background-color: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.gradient-bg {
  background: var(--gradient-color);
}
.parent-bg {
  background: var(--background-color);
}
